h1 {
    margin: 0;
}

.main-txt {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    padding: 0;
    list-style: none;
    max-width: fit-content;
    gap: 1rem;
    margin-inline: auto;
}

.show-up {
    justify-content: center;
    gap: 2rem;
    display: flex;
}

.btn-submit {
    text-align: left;
    display: flex;
}

.btn-cancel {
    text-align: right;
    display: flex;
}